<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<head th:replace="/layout :: head"></head>
<body>
<h2>EDIT BLOG</h2>
<form action="/edit" th:object="${blog}" method="post" id="form">
    <table id="products" style="margin: 0; padding: 0"; width="100%">
        <tr>
            <td>
                <label for="id">ID: </label>
            </td>
            <td>
                <input type="text" id="id" th:field="*{id}" readonly/>
            </td>
        </tr>
        <tr>
            <td>
                <label for="title">Title blog: </label>
            </td>
            <td>
                <input type="text" id="title" th:field="*{titleBlog}" required/>
            </td>
        </tr>
        <tr>
            <td>
                <label for="content">Content blog: </label>
            </td>
            <td>
                <textarea id="content" th:field="*{contentBlog}" required rows="5" style="resize: none; width: 100%"></textarea>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: center">
                <input type="reset" value="Reset"/>
                <input type="submit" value="Submit"/>
            </td>
        </tr>
    </table>
</form>
<a href="/">
    Back home
</a>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>