<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h3>Delete Product</h3>
<p>
    <a th:href="@{/}">
        Back   list product
    </a>
</p>
<div id="form">
    <form action="#" th:action="@{/delete}" th:object="${product}"
          method="POST" novalidate="novalidate">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label>Name Product</label>
            <input type="text" th:field="*{nameProduct}"/>
        </div>
        <div>
            <label>Brand</label>
            <input type="text" th:field="*{brand}"/>
        </div>
        <div>
            <label>Color</label>
            <input type="text" th:field="*{color}"/>
        </div>
        <div>
            <label>Price</label>
            <input type="number" th:field="*{price}"/>
        </div>
        <input type="submit" value="Remove"/>
    </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>