<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>List Category</title>
</head>
<body>
<h1>Category List</h1>
<h2><a th:href="@{/templates/category/category-create}">Create Category</a></h2>
<h4><a th:href="@{/}">Back to Blog List</a></h4>
<table border="1">
  <tr>
    <th>No#</th>
    <th>ID</th>
    <th>Name</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  <tr th:each="cateObj,cateLoop : ${categoryList}">
    <td th:text="${cateLoop.index + 1}"></td>
    <td th:text="${cateObj.idCategory}"></td>
    <td th:text="${cateObj.typeCategory}"></td>
    <td><a th:href="@{/category-edit/edit(id=${cateObj.idCategory})}">Edit</a></td>
    <td><a th:href="@{/category-delete/delete(id=${cateObj.idCategory})}">Delete</a></td>
  </tr>
</table>
</body>
</html>